<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
</head>
<body>
    <h1>Hello World</h1>
    <form action="/todos" method="post">
        <input type="text" name="description" placeholder="Add task">
        <button type="submit">Add</button>
    </form>

    <ul>
        {{#todo}}
            <li>
                <form action="/todos/{{_id}}/completed" method="post">
                    {{description}} <button type="submit">done</button>
                </form>
            </li>
        {{/todo}}
    </ul>

    <h1>DONE</h1>
    <ul>
        {{#doneTodo}}
            <li>
                <form action="/todos/{{_id}}/completed" method="post">
                    {{description}} <button type="submit">done</button>
                </form>
            </li>
        {{/doneTodo}}
    </ul>
</body>
</html>